.actions-container {
    align-items: center;
    display: flex;
    gap: 16px;
}

.action-wrapper {
    align-items: center;
    display: flex;
    gap: 8px;
}

.like-icon {
    block-size: 25px;
    cursor: pointer;
    inline-size: 25px;
}

.comment-icon {
    block-size: 35px;
    cursor: pointer;
    inline-size: 25px;
}

.message-icon {
    block-size: 16px;
    cursor: pointer;
    inline-size: 16px;
}

.number-action {
    font-size: 15px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .like-icon {
        block-size: 25px;
        inline-size: 25px;
    }

    .comment-icon {
        block-size: 30px;
        inline-size: 25px;
    }

    .message-icon {
        block-size: 28px;
        inline-size: 28px;
    }

    .number-action {
        font-size: 16px;
    }
}
