.card-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
}

.card-title {
    color: var(--agora-blue-dark);
    font-size: 28px;
    line-height: 30px;
}

.card-date {
    color: rgba(16, 40, 79, 0.7);
    font-size: 12px;
}

.card-info {
    color: var(--agora-blue-dark);
    font-size: 13px;
    line-height: 18px;
}

@media screen and (min-width: 1024px) {
    .card-info {
        font-size: 16px;
    }
}