.card-content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
}

.card-title {
    color: var(--agora-blue-dark);
    font-family: 'ebrima-bold';
    font-size: 26px;
    line-height: 30px;
}

.card-date {
    color: rgba(16, 40, 79, 0.7);
    font-size: 12px;
}

.card-info {
    color: var(--agora-blue-dark);
    font-size: 13px;
    line-height: 18px;
}

.buttons-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-block-start: 16px;
}

@media screen and (min-width: 1024px) {
    .card-info {
        font-size: 16px;
        line-height: 20px;
    }
}