.window-glass-video {
    margin: auto;
    margin-block-start: 10px;
    margin-block-end: 40px;
    width: fit-content;
}

.video-container {
    /* border: 1px solid red; */
    block-size: 250px;
    inline-size: 500px;
    /* position: absolute; */
}

.video {
    block-size: 250px;
    inline-size: 500px;
}

.progress-container {
    inline-size: 100%;
    margin: auto;
    margin-block-end: 40px;
    max-inline-size: 800px;
    position: relative;
}

.progress-bar {
    block-size: 24px;
    inline-size: 100%;
    border: transparent;
    border-radius: 15px;
    background-color: white;
    /* background-image: url('/images/rocket-progress.svg');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 8px);
    background-position-y: calc(100% - 15px); */
}

.progress-bar::-webkit-progress-bar {
    border-radius: 15px;
    background-color: white;
}

.progress-bar::-webkit-progress-value {
    border-radius: 15px;
    background-color: #07D91C;
    background-image: url('/images/rocket-progress.svg');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 8px);
    background-position-y: calc(100% - 5px);
}

.progress-bar::-moz-progress-bar {
    border-radius: 15px;
    background-color: #07D91C;
    background-image: url('/images/rocket-progress.svg');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 8px);
    background-position-y: calc(100% - 5px);
}

.percent-text {
    align-items: center;
    block-size: 24px;
    color: var(--agora-blue-dark);
    display: flex;
    font-family: 'ebrima-bold';
    font-size: 15px;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (min-width: 1024px) {
    .window-glass {
        inline-size: 1024px;
    }

}

@media screen and (min-width: 1280px) {
    .window-glass {
        inline-size: 1280px;
    }

}
