.home-container {
    background-attachment: fixed;
    background-image: url('/images/clouds.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    padding-block-start: 100px;
    padding-block-end: 40px;
}

.home-wrapper {
    display: grid;
    gap: 36px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: auto;
    max-inline-size: 1280px;
    min-block-size: calc(100vh - 276px);
    padding-inline: 14px;
}

.menu-container {
    display: none;
}

.notifications {
    display: none;
}

.menu-box {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: inline-block;
    inline-size: 171px;
    z-index: 1;
}

.menu-button {
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    block-size: 71px;
    border: 1px solid #FFFFFF;
    border-inline-start: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    display: flex;
    inline-size: 28px;
    margin-block-start: 28px;
    z-index: 0;
}

.menu-hide-button {
    display: none;
    position: fixed;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.idea-container {
    background: linear-gradient(98.59deg, #FFFFFF 2.8%, rgba(255, 255, 255, 0.43) 25.41%);
    border: 1px solid #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    gap: 10px;
    padding-inline: 18px;
    padding-block: 14px;
    position: relative;
}

.textfield-idea {
    backdrop-filter: blur(15px);
    background: radial-gradient(54.4% 54.4% at 50% 45.6%, rgba(0, 255, 224, 0.0735) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(99.98deg, #FFFFFF 8.61%, rgba(255, 255, 255, 0.52) 98.97%);
    border: none;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    font-family: 'Hind Siliguri';
    font-size: 13px;
    font-weight: 500;
    inline-size: 100%;
    outline: none;
    padding-block: 4px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}

.textfield-idea::placeholder {
    color: black;
}

.pencil-icon {
    display: none;
}

.user-icon {
    block-size: 50px;
    inline-size: 50px;
}

.notifications-wrapper {
    position: fixed;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.option {
    align-items: center;
    color: #758CB1;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    gap: 8px;
}

.option.selected {
    color: var(--agora-blue-dark);
}

@media screen and (min-width: 768px) {
    .home-container {
        padding-block-start: 110px;
    }

    .home-wrapper {
        padding-inline: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .home-container {
        background-size: cover;
        padding-block-start: 150px;
    }

    .home-wrapper {
        grid-template-columns: 236px 1fr 70px;
        grid-template-rows: 1fr;
        padding-inline: 20px;
    }

    .menu-container {
        align-items: flex-start;
        display: flex;
        inline-size: 207px;
    }

    .menu-wrapper {
        display: flex;
        position: fixed;
    }

    .menu-wrapper.hide {
        animation: hideMenu 3s ease forwards;
    }
    
    @keyframes hideMenu {
        0% {
            opacity: 1;
            transform: translateX(0);
        }
    
        20% {
            opacity: 0;
        }
    
        100% {
            transform: translateX(-1500px);
        }
    }
    
    .menu-wrapper.show {
        animation: showMenu 1s ease forwards;
    }
    
    @keyframes showMenu {
        0% {
            opacity: 0;
            transform: translateX(-800px);
        }
    
        50% {
            opacity: 0.3;
        }
    
        70% {
            opacity: 0.5;
        }
        
        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .notifications {
        display: flex;
        justify-content: flex-end;
    }

    .idea-container {
        gap: 20px;
    }

    .user-icon {
        block-size: 60px;
        inline-size: 60px;
    }

    .textfield-idea {
        padding-inline-end: 70px;
    }

    .pencil-icon {
        display: block;
        position: absolute;
        right: 30px;
        top: 24px;
    }
}

@media screen and (min-width: 1300px) {
    .home-wrapper {
        padding-inline: 0;
    }
}
