.idea-container {
    background: linear-gradient(98.59deg, #FFFFFF 2.8%, rgba(255, 255, 255, 0.43) 25.41%);
    border: 1px solid #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    gap: 10px;
    padding-inline: 18px;
    padding-block: 14px;
    position: relative;
}

.textfield-idea {
    backdrop-filter: blur(15px);
    background: radial-gradient(54.4% 54.4% at 50% 45.6%, rgba(0, 255, 224, 0.0735) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(99.98deg, #FFFFFF 8.61%, rgba(255, 255, 255, 0.52) 98.97%);
    block-size: 42px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    font-family: 'ebrima';
    font-size: 13px;
    font-weight: 500;
    inline-size: calc(100% - 32px);
    outline: none;
    padding-block: 4px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}

.textfield-idea::placeholder {
    color: black;
}

.arrow-icon {
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: 7px;
}

.user-icon {
    block-size: 50px;
    inline-size: 50px;
    border-radius: 50%;
}

.circle-write-mobile {
    background-color: var(--agora-blue-dark);
    block-size: 40px;
    border-radius: 50%;
    inline-size: 40px;
    position: fixed;
    bottom: 90px;
    right: 20px;
}

@media screen and (min-width: 1024px) {
    .idea-container {
        gap: 20px;
    }

    .user-icon {
        block-size: 60px;
        inline-size: 60px;
    }

    .textfield-idea {
        block-size: 52px;
        font-size: 15px;
        inline-size: calc(100% - 86px);
        padding-inline-end: 70px;
    }

    .arrow-icon {
        font-size: 40px;
        right: 10px;
        top: 10px;
    }

    .circle-write-mobile {
        display: none;
    }
}
