.login-container {
    background-image: url('/images/clouds.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    margin: auto;
    /* max-inline-size: 810px; */
    min-block-size: calc(100vh - 360px);
    padding-block-start: 100px;
    padding-block-end: 40px;
    padding-inline: 20px;
}

.login-title {
    color: var(--agora-blue-dark);
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-block-start: 16px;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-container label {
    color: var(--agora-blue-dark);
    font-weight: 700;
}

.textfield {
    border: 3px solid var(--agora-blue-dark);
    border-radius: 100px;
    color: var(--agora-blue-dark);
    font-family: 'Hind Siliguri';
    font-size: 15px;
    outline: none;
    padding-block: 4px;
    padding-inline: 12px;
}

.textarea {
    block-size: 400px;
    border: 3px solid var(--agora-blue-dark);
    border-radius: 15px;
    color: var(--agora-blue-dark);
    font-family: 'Hind Siliguri';
    font-size: 15px;
    outline: none;
    padding-block: 4px;
    padding-inline: 12px;
}

.checkbox {
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding-left: 32px;
    position: relative;
    user-select: none;
}

.checkbox input {
    position: absolute;
    block-size: 0;
    inline-size: 0;
}

.check {
    block-size: 18px;
    border: 3px solid var(--agora-blue-dark);
    border-radius: 5px;
    inline-size: 18px;
    left: 0;
    position: absolute;
    top: 0;
}

.checkbox input:checked ~ .check {
    background-color: var(--agora-blue-dark);
    border-color: transparent;
}

.check::after {
    block-size: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    content: "";
    inline-size: 5px;
    left: 5px;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
}

.g-recaptcha {
    display: flex;
    justify-content: center;
    margin-block-start: 20px;
    transform:scale(0.77);
    z-index: -10;
}

.button-style {
    font-size: 20px;
    margin: auto;
    margin-block-start: 24px;
    padding-inline: 28px;
}

.terms {
    color: #B9B9B9;
    font-size: 10px;
    text-align: justify;
    line-height: 11px;
    margin-block-start: 40px;
    margin-inline: 22px;
}

@media screen and (min-width: 1024px) {
    .login-container {
        padding-block-start: 150px;
        background-size: cover;
    }

    .form-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }

    .form-row:nth-of-type(3),
    .form-row:nth-of-type(4) {
        grid-column: 1 / 3;
    }

    .textarea {
        block-size: 200px;
    }

    .g-recaptcha {
        transform:scale(1);
    }

    .or-container {
        margin-block-start: 26px;
    }
}