.window-content {
    padding-block: 16px;
    padding-inline: 8px;
}

.cover-image {
    align-items: center;
    background-color: green;
    block-size: 118px;
    display: flex;
    inline-size: 100%;
    justify-content: center;
    position: relative;
}

.profile-image-container {
    position: absolute;
    bottom: -60px;
    padding: 14px;
}

.profile-image {
    block-size: 55px;
    inline-size: 55px;
}

.profile-info-container-mobile {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-block-start: 70px;
    padding: 10px;
}

.profile-info-container-desktop {
    display: none;
}

.info-text {
    color: var(--agora-blue-dark);
    font-size: 12px;
    text-align: center;
}

.company-name {
    font-family: 'ebrima-bold';
    font-size: 18px;
    line-height: 20px;
}

.user-name {
    font-size: 14px;
}

.member-text {
    color: rgba(16, 40, 79, 0.7);
}

.stars-container {
    block-size: 20px;
    inline-size: 150px;
    margin-block-start: 0;
}

.address-text {
    color: rgba(0, 0, 0, 0.4);
}

.social-container {
    block-size: 30px;
    border: 1px solid red;
    inline-size: 190px;
}

.card-title {
    color: var(--agora-blue-dark);
    font-family: 'ebrima-bold';
    font-size: 24px;
}

.required-text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-block-start: 16px;
}

.required-text {
    color: rgba(16, 40, 79, 0.7);
    font-size: 16px;
}

.required-description {
    color: var(--agora-blue-dark);
    font-size: 13px;
    margin-block-start: 16px;
    text-align: justify;
}

.progress-container {
    position: relative;
}

.progress-bar {
    width: 100%;
    height: 24px;
    border-radius: 15px;
    background-color: #f2f2f2;
}

.progress-bar::-webkit-progress-bar {
    border-radius: 15px;
    background-color: #f2f2f2;
}

.progress-bar::-webkit-progress-value {
    border-radius: 15px;
    background-color: #07D91C;
}

.progress-bar::-moz-progress-bar {
    border-radius: 15px;
    background-color: #07D91C;
}

.rocket-image {
    position: absolute;
    top: 5px;
    right: 8px;
}

.progress-image {
    background-color: skyblue;
    border-radius: 15px;
    block-size: 125px;
    inline-size: 100%;
    margin-block-start: 20px;
}

.progress-title {
    color: var(--agora-blue-dark);
    font-family: 'ebrima-bold';
    font-size: 24px;
    margin-block-start: 16px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.progress-description {
    color: var(--agora-blue-dark);
    font-family: 'ebrima-bold';
    font-size: 14px;
    margin-block-start: 4px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.about-description {
    color: var(--agora-blue-dark);
    font-size: 13px;
    margin-block-start: 8px;
    text-align: justify;
}

.video-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0;
}

.video {
    block-size: 200px;
    inline-size: 100%;
    background-color: green;
}

.video-text-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.video-description {
    color: var(--agora-blue-dark);
    font-size: 13px;
    margin-block-start: 8px;
    text-align: justify;
}

.title-container {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.title-container > summary img {
    transform: rotate(0);
    transition: .3s transform ease;
}

.title-container[open] > summary img {
    transform: rotate(180deg);
    transition: .3s transform ease;
}

.accordion-title {
    align-items: center;
    color: var(--agora-blue-dark);
    display: flex;
    font-family: 'ebrima-bold';
    font-size: 24px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.accordion-content {
    margin-block-start: 16px;
}

.qualification-section-container {
    align-items: center;
    border-block-end: 2px solid rgba(16, 40, 79, 0.6);
    display: grid;
    gap: 10px;
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    padding-block-start: 8px;
    padding-block-end: 8px;
    position: relative;
}

.qualification-section-container:nth-of-type(1) {
    padding-block-start: 16px;
}

.qualification-section-container p:nth-of-type(1) {
    grid-row: 1/3;
}

.group-risk {
    grid-row: 1/8 !important;
}

.group-sdg {
    grid-row: 1/2 !important;
}

.center-line {
    block-size: calc(100% - 4px);
    border: 2px solid #10284F;
    left: calc(50% - 2px);
    margin: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
}

.progress-bar-qualification {
    background-color: transparent;
    block-size: 15px;
    border-radius: 15px;
    inline-size: 100%;
}

.progress-bar-qualification.right {
    transform: rotate(180deg);
}

.progress-bar-qualification::-webkit-progress-bar {
    border-radius: 15px;
    background-color: transparent;
}

.progress-bar-qualification::-webkit-progress-value {
    border-radius: 15px;
    background-color: #07D91C;
}

.progress-bar-qualification::-moz-progress-bar {
    border-radius: 15px;
    background-color: #07D91C;
}

.texts {
    color: var(--agora-blue-dark);
    font-family: 'ebrima-bold';
    font-size: 11px;
}

.texts-right {
    text-align: right;
}

@media screen and (min-width: 600px) {
    .window-content {
        padding-inline: 16px;
    }

    .qualification-section-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .qualification-section-container{
        gap: 16px;
        grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
    }

    .progress-bar-qualification {
        block-size: 20px;
    }

    .texts {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    .cover-image {
        block-size: 256px;
    }

    .profile-image-container {
        left: 20px;
        bottom: -110px;
    }

    .profile-image {
        block-size: 75px;
        inline-size: 75px;
    }

    .profile-info-container-mobile {
        display: none;
    }

    .profile-info-container-desktop {
        display: flex;
        flex-direction: column;
        padding-block-end: 20px;
    }

    .profile-info-row1 {
        display: flex;
        padding-inline-start: 195px;
        padding-block: 5px;
    }

    .profile-info-content-left {
        display: flex;
        flex-direction: column;
    }

    .profile-info-content-right {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        gap: 4px;
        padding-inline-end: 10px;
    }

    .info-text {
        text-align: left;
    }

    .profile-info-content-right .info-text {
        align-items: flex-end;
        font-size: 16px;
        text-align: right;
    }

    .company-name {
        font-size: 30px;
        line-height: 36px;
    }

    .user-name {
        font-size: 18px;
    }

    .stars-container {
        margin-block-start: 4px;
    }

    .required-description {
        font-size: 15px;
    }

    .progress-bar {
        block-size: 36px;
    }

    .progress-image {
        block-size: 240px;
    }

    .rocket-image {
        block-size: auto;
        inline-size: 57px;
    }

    .progress-title {
        font-size: 32px;
    }

    .progress-description {
        font-size: 20px;
    }

    .about-description {
        font-size: 15px;
    }

    .video-container {
        flex-direction: row;
    }

    .video {
        block-size: 200px;
        inline-size: 400px;
    }

    .video-text-container {
        inline-size: 50%;
    }

    .qualification-title {
        font-size: 30px;
    }
}
