.container {
    align-items: center;
    background: linear-gradient(276.82deg, rgba(208, 231, 249, 0.72) 32.68%, #FFFFFF 82.59%);
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    left: 20px;
    position: fixed;
    padding: 10px;
    right: 20px;
    top: 20px;
    z-index: 1000;
}

.logo {
    block-size: 29px;
    inline-size: 84px;
}

.buttons-container {
    display: flex;
    gap: 9px;
}

.button-text-size {
    font-size: 15px;
}

@media screen and (min-width: 1024px) {
    .container {
        padding-block: 10px;
        padding-inline: 18px;
    }

    .logo {
        block-size: 48px;
        inline-size: 140px;
    }

    .button-text-size {
        font-size: 24px;
    }
}
