.container {
    align-items: center;
    background: linear-gradient(276.82deg, rgba(208, 231, 249, 0.72) 32.68%, #FFFFFF 82.59%);
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    left: 20px;
    position: fixed;
    padding: 6px;
    right: 20px;
    top: 20px;
}

.logo {
    width: 84px;
    height: 29px;
    margin-inline-start: 5px;
}

.buttons-container {
    display: flex;
    gap: 9px;
}
