.account-type-container::-webkit-scrollbar {
    background: transparent;
    inline-size: .5rem;
    block-size: .5rem;
}

.testimonial-container::-webkit-scrollbar {
    background: transparent;
    inline-size: .5rem;
    block-size: .5rem;
}

.rocket-main {
    align-items: center;
    background: url('/images/background-home.jpg') no-repeat center center;
    background-size: auto 100%;
    block-size: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block-start: 70px;
}

.title-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.rocket-title-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logo-main {
    block-size: auto;
    inline-size: 230px;
}

.rocket-title {
    color: var(--agora-blue-dark);
    font-size: 36px;
    inline-size: 350px;
    line-height: 40px;
    text-align: center;
}

.rocket-subtitle {
    color: var(--agora-blue-dark);
    font-size: 19px;
    inline-size: 330px;
    line-height: 20px;
    text-align: center;
    margin-block-start: 32px;
}

.account-type-wrapper {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-block-start: 50px;
}

.account-type-container {
    display: flex;
    gap: 40px;
    inline-size: 252px;
    margin-block-end: 20px;
    overflow-x: auto;
}

.account-image-container {
    align-items: center;
    block-size: 420px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    inline-size: 260px;
    justify-content: flex-end;
    text-align: center;
    position: relative;
}

.account-info-container {
    align-items: center;
    block-size: 290px;
    box-shadow: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    inline-size: 230px;
    padding: 10px;
    animation: down .5s ease forwards;
}

.type-image {
    bottom: 140px;
    block-size: auto;
    inline-size: 200px;
    position: absolute;
}

.image-transition {
    animation: ShowImage 0.5s ease-in-out forwards;
}

.efecto:hover {
    animation: ZoomPicIn 1s ease forwards;
}

.arrow, .arrow2 {
    block-size: 48px;
    cursor: pointer;
    inline-size: 24px;
    margin-block-start: 90px;
}

.account-type-title {
    bottom: 80px;
    color: var(--agora-blue-dark);
    font-size: 33px;
    font-weight: 700;
    line-height: 58px;
    position: absolute;
}

.account-type-description {
    bottom: 30px;
    block-size: 50px;
    color: var(--agora-blue-dark);
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    max-inline-size: 230px;
    position: absolute;
}

.meet-container {
    align-items: center;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* max-inline-size: 1150px; */
    padding-block: 40px;
}

.meet-title {
    color: white;
    font-size: 36px;
    text-align: center;
}

.meet-description {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-block-start: 8px;
    max-inline-size: 800px;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    margin-block-start: 20px;
}

.portfolio-wrapper {
    display: flex;
    flex-direction: column;
}

.portfolio-image {
    background-color: green;
    border-radius: 16px;
    block-size: 200px;
    inline-size: 300px;
}

.portfolio-title {
    color: white;
    font-family: 'ebrima-bold';
    font-size: 24px;
    margin-block-start: 16px;
}

.portfolio-description {
    color: white;
    font-size: 16px;
    max-inline-size: 300px;
}

.what-container {
    align-items: center;
    background-image: url('/images/background-pattern-video.jpg');
    background-attachment: fixed;
    background-color: #e8fdfe;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: 700;
    gap: 15px;
    padding-inline: 20px;
}

.what-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    max-inline-size: 1150px;
    margin: auto;
}

.what-text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.what-title {
    color: var(--agora-blue-dark);
    font-size: 36px;
    line-height: 52px;
    text-align: center;
    margin-block-start: 30px;
}

.what-description {
    font-size: 14px;
    font-weight: 500;
    padding-inline: 20px;
    line-height: 15px;
    text-align: justify;
}

.video-container {
    /* block-size: 60px; */
    cursor: pointer;
    inline-size: calc(100% - 80px);
    margin-block-start: 20px;
    margin-block-end: 50px;
    max-inline-size: 560px;
    position: relative;
}

.window-glass {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
}

.video {
    background-color: transparent;
    /* bottom: 0px; */
    block-size: 100%;
    inline-size: 100%;
    /* left: 18px; */
    max-inline-size: 560px;
    /* position: absolute; */
    /* right: 50px; */
}

.mission-container {
    background-color: #1F1F1F;
    padding-block: 40px;
}

.mission-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin: auto;
    max-inline-size: 1150px;
}

.mission-title {
    color: white;
    font-family: 'ebrima-bold';
    font-size: 24px;
    text-align: justify;
}

.mission-description {
    color: white;
    font-size: 16px;
    text-align: justify;
}

.community-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-inline-size: 1150px;
    padding-block-end: 40px;
    /* padding-inline: 40px; */
}

.community-title {
    color: var(--agora-blue-dark);
    font-size: 36px;
    text-align: center;
}

.community-wrapper {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.community-page {
    display: flex;
    gap: 8px;
}

.testimonial-container {
    display: flex;
    gap: 8px;
    inline-size: 340px;
    margin-block-end: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.testimonial-content {
    align-items: center;
    block-size: 420px;
    /* cursor: pointer; */
    display: flex;
    flex-direction: column;
    inline-size: 340px;
    justify-content: flex-end;
    text-align: center;
    position: relative;
}

.testimonial-info-container {
    align-items: center;
    background-color: #f1fbfc;
    block-size: 300px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    inline-size: 300px;
    padding: 16px;
    position: relative;
}

.testimonial-info-container p {
    color: var(--agora-blue-dark);
    font-size: 14px;
}

.testimonial-image {
    background-color: green;
    border-radius: 50%;
    bottom: 60px;
    block-size: 50px;
    inline-size: 50px;
    margin-block-start: 16px;
    position: absolute;
}

.testimonial-name {
    bottom: 40px;
    font-size: 13px !important;
    position: absolute;
}

.testimonial-position {
    top: 292px;
    font-size: 13px !important;
    line-height: 15px !important;
    max-inline-size: 280px;
    position: absolute;
    text-align: center;
}

.cocreate-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-inline-size: 1150px;
    padding-block: 40px;
    /* padding-inline: 40px; */
}

.cocreate-wrapper {
    inline-size: 100%;
    max-inline-size: 1150px;
}

.cocreate-image {
    background: url('/images/createmain.jpg') no-repeat center center;
    background-size: auto 100%;
    block-size: 446px;
    inline-size: 100%;
    position: relative;
    /* border: 1px solid red; */
}

.cocreate-title {
    color: white;
    font-family: 'ebrima-bold';
    font-size: 30px;
    /* inline-size: 200px; */
    left: 20px;
    position: absolute;
    top: 20px;
}

.cocreate-description {
    color: white;
    font-size: 16px;
    inline-size: 280px;
    left: 20px;
    position: absolute;
    top: 120px;
}

.cocreate-button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    left: 20px;
    padding-block: 16px;
    padding-inline: 24px;
    position: absolute;
    top: 230px;
}

.supported-container-mobile {
    background-color: white;
    padding-block: 56px;
    padding-inline: 30px;
}

.supported-container-desktop {
    display: none;
}

.supported-title {
    color: var(--agora-blue-dark);
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}

.supported-subtitle {
    color: var(--agora-blue-dark);
    font-size: 16px;
    /* font-weight: 700; */
    /* line-height: 40px; */
    text-align: center;
    margin-block-start: 12px;
    max-inline-size: 1000px;
}

.partners-title {
    color: var(--agora-blue-dark);
    font-family: 'ebrima-bold';
    font-size: 30px;
    font-weight: 500;
    margin-block: 36px;
    text-align: center;
}

.logos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logos-row {
    display: flex;
    gap: 16px;
}

.logos-row img {
    vertical-align: top;
}

.slider {
    position: relative;
    /* width: 400px; */
    margin: auto;
    margin-block-start: 50px;
    max-inline-size: 900px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

/* img {
    width: 100%;
    height: auto;
} */

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@keyframes ShowImage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ZoomPicIn {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

@media screen and (min-width: 768px) {
    .rocket-title {
        inline-size: auto;
    }

    .rocket-subtitle {
        inline-size: auto;
    }

    .account-type-wrapper {
        gap: 48px;
    }

    .cocreate-title {
        left: 50px;
    }

    .cocreate-description {
        inline-size: 340px;
        left: 50px;
    }

    .cocreate-button {
        left: 50px;
        top: 210px;
    }
}

@media screen and (min-width: 1024px) {
    .logo-main {
        inline-size: 450px;
    }

    .rocket-title {
        font-size: 84px;
        inline-size: auto;
        line-height: 82px;
        margin-block-start: -30px;
    }

    .rocket-subtitle {
        font-size: 42px;
        inline-size: auto;
        line-height: 39px;
    }

    .account-type-wrapper {
        margin: auto;
    }

    .account-type-container {
        inline-size: 100%;
        justify-content: center;
    }

    .account-image-container {
        inline-size: 252px;
        overflow: hidden;
    }

    .account-info-container:hover {
        animation: up .5s ease forwards;
    }

    @keyframes up {
        0% {
            height: 292px;
        }

        100% {
            height: 410px;
        }
    }

    @keyframes down {
        0% {
            height: 410px;
        }

        100% {
            height: 292px;
        }
    }
    
    .arrow {
        display: none;
    }

    .account-type-description {
        font-size: 16px;
        line-height: 22px;
    }

    .type-image {
        block-size: auto;
        inline-size: 200px;
    }
    
    .what-wrapper {
        flex-direction: row;
        justify-content: space-between;
        padding-block: 80px;
    }

    .what-text-container {
        inline-size: 60%;
    }

    .what-title {
        font-size: 36px;
        margin-block-start: 0;
    }

    .what-description {
        font-size: 16px;
        line-height: 22px;
    }

    .video-container {
        margin-block-start: 0;
        margin-block-end: 0;
        max-inline-size: auto;
        inline-size: 575px;
    }

    .video {
        block-size: 280px;
        bottom: -20px;
        inline-size: auto;
        max-inline-size: auto;
    }

    .supported-container-mobile {
        display: none;
    }

    .supported-container-desktop {
        align-items: center;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-block: 56px;
        padding-inline: 30px;
    }

    .supported-wrapper-desktop {
        display: flex;
        gap: 200px;
        margin-block-start: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .testimonial-container {
        inline-size: 1035px;
    }
}

@media screen and (min-width: 1250px) {
    .portfolio-container {
        flex-direction: row;
    }
}
