.footer-mobile {
    align-items: center;
    background-color: #AFE7F8;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block: 25px;
}

.footer-desktop {
    display: none;
}

.footer-mobile a {
    color: var(--agora-blue-dark);
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .footer-mobile {
        display: none;
    }

    .footer-desktop {
        display: flex;
        background-color: transparent;
    }

    .container-footer {
        align-items: center;
        background: linear-gradient(272.18deg, rgba(255, 255, 255, 0.43) -1.67%, #E2F2FF 48.46%);
        border: 1px solid white;
        border-radius: 15px;
        display: flex;
        inline-size: calc(100vw - 28px);
        justify-content: space-between;
        margin-inline: 20px;
        margin-block-start: 40px;
        margin-block-end: 16px;
        padding-block: 10px;
        padding-inline: 26px;
    }

    .options-container {
        display: flex;
        gap: 48px;
    }

    .options-container a {
        color: var(--agora-blue-dark);
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        text-decoration: none;
    }

    .logo {
        width: 140px;
        height: 48px;
    }
}