.background {
    background-image: url('/images/clouds.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-attachment: fixed;
    /* background-color: #e8fdfe; */
}
