.background {
    background-image: url('/images/clouds.jpg');
    background-repeat: no-repeat;
    /* background-color: #e8fdfe; */
}

@media screen and (min-width: 1024px) {
    .background {
        background-size: cover;
    }
}