.results-container {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.results-wrapper {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(212px, 1fr));
    inline-size: 100%;
}
