.account-type-container::-webkit-scrollbar {
    background: transparent;
    inline-size: .5rem;
    block-size: .5rem;
}

.rocket-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding-block-start: 80px;
}

.rocket-image {
    block-size: 150px;
    inline-size: 100px;
}

.rocket-title {
    color: var(--agora-blue-dark);
    font-size: 36px;
    inline-size: 250px;
    line-height: 40px;
    text-align: center;
}

.rocket-subtitle {
    color: var(--agora-blue-dark);
    font-size: 19px;
    font-weight: 500;
    line-height: 20.5px;
    inline-size: 210px;
    text-align: center;
}

.account-type-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-block-start: 80px;
}

.account-type-container {
    display: flex;
    gap: 24px;
    inline-size: 238px;
    overflow-x: auto;
}

.account-image-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.investor-image {
    block-size: 250px;
    inline-size: 219px;
}

.entrepreneur-image {
    block-size: 250px;
    inline-size: 230px;
}

.arrow {
    block-size: 48px;
    inline-size: 24px;
}

.account-type-title {
    color: var(--agora-blue-dark);
    font-size: 36px;
    font-weight: 700;
    line-height: 58px;
}

.account-type-description {
    block-size: 50px;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.what-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: 700;
    gap: 15px;
    margin-block-start: 48px;
    padding-inline: 20px;
}

.what-title {
    color: var(--agora-blue-dark);
    font-size: 36px;
    line-height: 52px;
}

.what-description {
    font-size: 14px;
    font-weight: 500;
    padding-inline: 20px;
    line-height: 15px;
    text-align: justify;
}

.video {
    inline-size: calc(100vw - 80px);
    block-size: auto;
    margin-block-end: 30px;
}

.supported-container {
    background-color: white;
    padding-block: 56px;
    padding-inline: 30px;
}

.supported-title {
    color: var(--agora-blue-dark);
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}

.partners-title {
    color: var(--agora-blue-dark);
    font-size: 30px;
    font-weight: 500;
    margin-block: 36px;
    text-align: center;
}

.logos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logos-row {
    display: flex;
    gap: 16px;
}

.logos-row img {
    vertical-align: top;
}

.footer {
    background-color: #AFE7F8;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-block: 25px;
}

.footer a {
    color: var(--agora-blue-dark);
    font-size: 24px;
    font-weight: 700;
}
